%h1= "#{@name} is testing out ipsum generators!"

/ %p Sunny wears cookie monster shirts. 50,000 points at the buzzer!!!! is just some truth. truth for the people". sports stretches "totally awesome!" should be trending. discussing the vagaries of the twitterverse great coders fork! Snippet chunks "does that make sense?", "if you hear me clap 3 times", "you're meeting your mentors. in 3 hours." up arrow enter. that's most of the job jabberwocky 50,000 points at the buzzer!!!! "does that make sense?", "if you hear me clap 3 times", "you're meeting your mentors. in 3 hours." whoa, you know kung fu tim: "i find git's lack of faith disturbing. i will use the force. -f" what is ??? rails mvc should really be called mcv foo bar baz. Tim: "i find git's lack of faith disturbing. i will use the force. -f" snippet chunks bang "is that tracking?" ctrl c kills it.

/ %p Should be trending. discussing the vagaries of the twitterverse sunny wears cookie monster shirts. bang there you fucking go, you fucker whoa, you know kung fu that's traaaiiinnntastic! up arrow enter. that's most of the job Sunny wears cookie monster shirts. sports warm ups rails 4 was released today rails phat model thin contoller up arrow enter. that's most of the job bundle install real artists [or coders] ship. Bundle install ctrl c kills it "is that clear as mud?" sports warm ups computrons there you fucking go, you fucker apre developers thagya! Ctrl c kills it "does that make sense?", "if you hear me clap 3 times", "you're meeting your mentors. in 3 hours." snippet chunks sports stretches pink feather boa 50,000 points at the buzzer!!!! wordpress, i totally despise.

/ %p Rails 4 was released today what is ??? jabberwocky pink feather boa great coders fork! 50,000 points at the buzzer!!!! Snippet chunks rails 4 was released today ctrl c kills it rails mvc should really be called mcv computrons bundle install bang. Pink feather boa up arrow enter. that's most of the job bang that's traaaiiinnntastic! i forgot what the address was to the google. Sports warm ups ctrl c kills it 50,000 points at the buzzer!!!! apre developers thagya! pink feather boa


- @posts = Post.all

- @posts.each do |post|
		%h2= link_to "#{post.title}", post_path(post) 
	

